## Data Cleaning

 * Data Quality (validity, accuracy, completeness, consistency, uniformity)
 * The workflow 
     * Inspection (data profiling, visualizations, software packages)
     * Cleaning (irrelevant data, duplicates, type conver., syntax errors, 6 more)
     * Verifying
     * Reporting

[The Ultimate Guide to Data Cleaning](https://towardsdatascience.com/the-ultimate-guide-to-data-cleaning-3969843991d4) from Toward Data Science.

## Data Formats

* Data comes from various systems or databases
* Often dumped in some easy to generate format: CSV, JSON, XML
* Sometimes reading data not intended for re-use: text, audio/video metadata
* A few file formats specific to structured data interchange: HDF5

[How to read most commonly used data formats...](https://www.analyticsvidhya.com/blog/2017/03/read-commonly-used-formats-using-python/)

## Reading XML Data

- XML is a widely used file format for data on the web.
- It is actually a document markup language like HTML, so it can represent quite complex structures. 
- However it is often used to store simple tabular data as well.

Here's a [sample XML file](files/sample.xml).

We can use the Python [xml ElementTree module](https://docs.python.org/3.6/library/xml.etree.elementtree.html)
to parse XML data into a Python data structure.  In the case of this 
sample file, it consists of many &lt;record> elements each with four data points. We want to parse into 
a dataframe with four columns.

In [1]:
import pandas as pd
import xml.etree.ElementTree as ET
tree = ET.parse('files/sample.xml')
root = tree.getroot()
# print every row with xml tag and xml text 
for row in root:
    for child in row:
        print(child.tag, child.text)

Name Hedy
Date 2018-04-14T08:51:54-07:00
City Sijsele
Amount 105.06
Name Indigo
Date 2018-07-07T06:54:04-07:00
City Panquehue
Amount 103.76
Name Jolene
Date 2017-04-27T10:06:16-07:00
City Dijon
Amount 110.29
Name Bradley
Date 2017-11-11T07:26:54-08:00
City Neuss
Amount 94.8
Name Clementine
Date 2017-05-09T05:26:05-07:00
City Helena
Amount 96.83
Name Ava
Date 2018-04-21T00:46:05-07:00
City Kayseri
Amount 98.34
Name Basia
Date 2017-02-14T20:21:11-08:00
City Monte Santa Maria Tiberina
Amount 94.41
Name Declan
Date 2018-05-24T01:47:22-07:00
City Champlain
Amount 95.69
Name Bernard
Date 2017-07-11T09:45:20-07:00
City Blaenau Ffestiniog
Amount 100.71
Name Shelley
Date 2018-02-28T01:34:08-08:00
City Ergani
Amount 99.09
Name Amanda
Date 2017-07-28T16:09:47-07:00
City Dallas
Amount 103
Name Benedict
Date 2017-12-09T21:52:06-08:00
City Sperlinga
Amount 107.65
Name Lamar
Date 2017-11-07T09:04:12-08:00
City Stralsund
Amount 101.31
Name Aiko
Date 2016-09-06T01:58:15-07:00
City Rovereto
Amount 99.27
Name Quamar
Date 2017-01-02T11:40:34-08:00
City Rosoux-Crenwick
Amount 108.94
Name Trevor
Date 2016-12-23T23:05:25-08:00
City Quillón
Amount 102.85
Name Quyn
Date 2017-05-18T02:40:14-07:00
City Scorrano
Amount 107.43
Name Orli
Date 2017-05-22T21:17:46-07:00
City Gurgaon
Amount 96.9
Name Asher
Date 2017-06-27T22:37:34-07:00
City Colmar
Amount 95.82
Name Noel
Date 2017-01-10T23:47:47-08:00
City Yahyalı
Amount 101.18
Name Kermit
Date 2017-05-09T21:45:02-07:00
City Sint-Genesius-Rode
Amount 106.2
Name Cassidy
Date 2018-07-09T15:24:14-07:00
City Ñuñoa
Amount 98.59
Name Harper
Date 2017-12-20T15:56:09-08:00
City Edam
Amount 102.21
Name Aileen
Date 2017-04-03T18:48:49-07:00
City Sijsele
Amount 99
Name Katelyn
Date 2017-12-13T09:38:02-08:00
City Berloz
Amount 90.73
Name Levi
Date 2016-11-06T00:13:11-07:00
City San Rafael Abajo
Amount 100.01
Name Venus
Date 2017-04-19T09:33:45-07:00
City Marabá
Amount 101.3
Name Miranda
Date 2017-07-07T08:28:21-07:00
City Provo
Amount 104.25
Name Dante
Date 2016-09-10T14:10:12-07:00
City Westkerke
Amount 96.53
Name Alexander
Date 2017-02-12T04:46:54-08:00
City Gasp�
Amount 92.53
Name Gary
Date 2017-02-26T12:31:42-08:00
City Omal
Amount 101.12
Name Noel
Date 2017-05-14T21:14:34-07:00
City Paris
Amount 96.75
Name Molly
Date 2016-08-26T20:56:02-07:00
City Rovereto
Amount 99.04
Name Nerea
Date 2017-06-17T16:39:15-07:00
City Maser
Amount 100.25
Name Aidan
Date 2016-10-18T12:37:33-07:00
City Malartic
Amount 99.38
Name Beck
Date 2016-10-03T20:01:18-07:00
City Romano d'Ezzelino
Amount 97.83
Name Dane
Date 2017-01-14T00:04:39-08:00
City Merbes-Sainte-Marie
Amount 111.99
Name Zoe
Date 2017-06-22T21:18:15-07:00
City Kidderminster
Amount 111.39
Name Arsenio
Date 2016-12-19T09:34:18-08:00
City Lichtaart
Amount 92.69
Name Grant
Date 2016-09-29T02:40:11-07:00
City Cáceres
Amount 89.98
Name Hector
Date 2017-08-04T05:02:58-07:00
City Ancarano
Amount 99.9
Name Igor
Date 2017-04-29T20:50:19-07:00
City Roccanova
Amount 99.08
Name Daquan
Date 2017-04-15T16:37:48-07:00
City Campochiaro
Amount 96.72
Name Tanya
Date 2016-08-24T01:35:12-07:00
City Neumünster
Amount 97.98
Name Fleur
Date 2018-03-30T11:44:49-07:00
City Bloomington
Amount 88.31
Name Kai
Date 2016-09-26T04:25:05-07:00
City Los Andes
Amount 102.78
Name Audra
Date 2016-11-01T14:46:24-07:00
City Walhain-Saint-Paul
Amount 90.26
Name Ivory
Date 2018-02-21T15:28:14-08:00
City Chełm
Amount 89.4
Name Tucker
Date 2017-08-05T21:08:12-07:00
City Basingstoke
Amount 107.55
Name Freya
Date 2018-01-11T07:25:00-08:00
City Borgomaro
Amount 98.36
Name Inez
Date 2017-11-03T22:00:29-07:00
City Molfetta
Amount 100.16
Name Ava
Date 2018-03-08T04:29:24-08:00
City Gualdo Tadino
Amount 91.25
Name Clio
Date 2018-04-22T13:46:27-07:00
City Gavirate
Amount 102.67
Name Claire
Date 2017-08-24T18:43:00-07:00
City North Las Vegas
Amount 105.97
Name Joshua
Date 2017-06-19T11:26:58-07:00
City VTM
Amount 101.03
Name Elvis
Date 2016-11-05T21:53:06-07:00
City Saint-Malo
Amount 93.38
Name Cooper
Date 2018-03-23T23:02:25-07:00
City Toledo
Amount 86.5
Name Grady
Date 2016-09-17T06:10:04-07:00
City Illapel
Amount 100.44
Name Ingrid
Date 2017-06-12T17:16:55-07:00
City Ligosullo
Amount 111.34
Name Brandon
Date 2018-03-29T09:59:58-07:00
City Coevorden
Amount 92.28
Name Naida
Date 2017-05-26T16:42:54-07:00
City Ambala
Amount 108.19
Name Rowan
Date 2017-08-11T11:42:36-07:00
City Villa Agnedo
Amount 98.7
Name Georgia
Date 2017-05-23T16:50:07-07:00
City Los Vilos
Amount 105.64
Name Lars
Date 2017-11-07T02:18:39-08:00
City Maidstone
Amount 103.52
Name Melodie
Date 2017-10-20T05:52:32-07:00
City Lanklaar
Amount 103.73
Name Bernard
Date 2016-09-17T12:05:52-07:00
City Regensburg
Amount 90.59
Name Dahlia
Date 2016-11-05T10:49:48-07:00
City Sorgà
Amount 88.86
Name Jakeem
Date 2017-08-03T20:14:07-07:00
City Weyburn
Amount 103.52
Name Ulysses
Date 2017-11-07T09:33:37-08:00
City Culemborg
Amount 100.96
Name Paul
Date 2016-11-06T22:41:18-08:00
City Satna
Amount 91.3
Name Yasir
Date 2016-09-13T03:51:59-07:00
City Bromley
Amount 99.06
Name Wallace
Date 2018-04-09T17:55:08-07:00
City Córdoba
Amount 98.27
Name Ciara
Date 2017-02-11T07:35:02-08:00
City Cirencester
Amount 107.37
Name Rachel
Date 2016-12-16T20:03:51-08:00
City Nogales
Amount 100.49
Name Winifred
Date 2018-06-16T03:09:29-07:00
City Zaffelare
Amount 100.92
Name Lars
Date 2017-07-03T15:30:33-07:00
City Ila
Amount 94.86
Name Blossom
Date 2016-11-10T20:29:25-08:00
City Sarre
Amount 107.19
Name Madeline
Date 2016-09-29T15:55:39-07:00
City Visso
Amount 92.54
Name Maxine
Date 2017-09-02T20:06:10-07:00
City Warisoulx
Amount 106.18
Name Rose
Date 2016-11-26T12:30:38-08:00
City Chestermere
Amount 109.39
Name Thor
Date 2017-06-19T06:53:27-07:00
City Fort Providence
Amount 103.45
Name Jakeem
Date 2016-09-19T20:31:41-07:00
City Zaanstad
Amount 103.11
Name Camilla
Date 2017-03-31T07:54:04-07:00
City Kraków
Amount 97.53
Name Forrest
Date 2017-08-05T08:21:46-07:00
City Neath
Amount 102.61
Name Jelani
Date 2018-02-21T22:50:28-08:00
City Clovenfords
Amount 96.33
Name Scarlet
Date 2018-01-02T20:21:10-08:00
City North Berwick
Amount 102.8
Name Sydney
Date 2016-09-12T15:32:09-07:00
City Pointe-aux-Trembles
Amount 107.23
Name Malcolm
Date 2017-08-21T08:05:15-07:00
City Sint-Lambrechts-Herk
Amount 103.95
Name Gretchen
Date 2017-09-05T02:28:48-07:00
City Linares
Amount 104.51
Name Drew
Date 2016-12-24T06:48:52-08:00
City Deurne
Amount 109.36
Name Olga
Date 2018-06-16T22:15:26-07:00
City Iqaluit
Amount 99.24
Name Debra
Date 2017-02-11T03:42:37-08:00
City Dunbar
Amount 111.93
Name Audra
Date 2017-01-28T09:58:55-08:00
City Vagli Sotto
Amount 107.56
Name Ignacia
Date 2018-04-05T13:48:50-07:00
City Billings
Amount 99.25
Name Summer
Date 2017-02-09T23:09:02-08:00
City Huizingen
Amount 113.74
Name Lesley
Date 2017-08-29T04:35:51-07:00
City Parla
Amount 93.11
Name Amelia
Date 2018-03-01T13:47:04-08:00
City Obaix
Amount 93.88
Name Devin
Date 2017-02-04T05:37:12-08:00
City Novo Hamburgo
Amount 101.53
Name Abdul
Date 2018-07-06T08:55:19-07:00
City Castelvetere in Val Fortore
Amount 108.33
Name Demetria
Date 2018-02-03T16:04:08-08:00
City Parkland County
Amount 99.27

## Creating Data Frames

- Want to create a `DataFrame` from the XML input
- Tag names should translate to column names
- Best option is to first make a __list of dictionaries__
- One dictionary per row, then pass to `DataFrame` constructor

In [2]:
tree = ET.parse('files/sample.xml')
root = tree.getroot()
data = []
for row in root:
    # create a dictionary for each row
    datarow = {}
    for child in row:
        # dictionary key is the tag name, value is the text in the tag. This one is to create a dictionary for each row. 
        datarow[child.tag] = child.text
    data.append(datarow) 
    

#now make a dataframe from this list of dictionaries
df = pd.DataFrame(data)
print(df.head(10))
df.info()

         Name                       Date                        City  Amount
0        Hedy  2018-04-14T08:51:54-07:00                     Sijsele  105.06
1      Indigo  2018-07-07T06:54:04-07:00                   Panquehue  103.76
2      Jolene  2017-04-27T10:06:16-07:00                       Dijon  110.29
3     Bradley  2017-11-11T07:26:54-08:00                       Neuss    94.8
4  Clementine  2017-05-09T05:26:05-07:00                      Helena   96.83
5         Ava  2018-04-21T00:46:05-07:00                     Kayseri   98.34
6       Basia  2017-02-14T20:21:11-08:00  Monte Santa Maria Tiberina   94.41
7      Declan  2018-05-24T01:47:22-07:00                   Champlain   95.69
8     Bernard  2017-07-11T09:45:20-07:00          Blaenau Ffestiniog  100.71
9     Shelley  2018-02-28T01:34:08-08:00                      Ergani   99.09
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    100 non-null    object
 1   Date    100 non-null    object
 2   City    100 non-null    object
 3   Amount  100 non-null    object
dtypes: object(4)
memory usage: 3.2+ KB

## Date Fields

- In this example we have a field `Date` that is a date in ISO format
- Eg. `2017-04-27T10:06:16-07:00`
- Would be better to treat as a date rather than a string
- Python has `datetime` objects to represent dates
- Pandas provides `pd.to_datetime()` to convert a Series to datetimes (if they have the right format)

In [12]:
# read the data and coerce the Amount column to floats
df = pd.DataFrame(data).astype({'Amount': 'float64'})
# sort on date
df = df.sort_values('Date')
# create a series from the dates as datetimes
dates = pd.to_datetime(df.Date)
print(dates)
df['Date'] = dates
df.info()

43    2016-08-24 01:35:12-07:00
32    2016-08-26 20:56:02-07:00
13    2016-09-06 01:58:15-07:00
28    2016-09-10 14:10:12-07:00
86    2016-09-12 15:32:09-07:00
                ...
74    2018-06-16 03:09:29-07:00
90    2018-06-16 22:15:26-07:00
98    2018-07-06 08:55:19-07:00
1     2018-07-07 06:54:04-07:00
21    2018-07-09 15:24:14-07:00
Name: Date, Length: 100, dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 43 to 21
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    100 non-null    object
 1   Date    100 non-null    object
 2   City    100 non-null    object
 3   Amount  100 non-null    float64
dtypes: float64(1), object(3)
memory usage: 3.9+ KB

## Date field as Index

- Recall that the index of a `DataFrame` or `Series` is used to access rows
- By default this is a series of integers: 0, 1, 2, etc
- But it can be any useful identifier
- Useful to use these dates as the index
- Our data frame then becomes a [time series](http://pandas.pydata.org/pandas-docs/stable/timeseries.html)

In [16]:
df = pd.DataFrame(data).astype({'Date':'datetime64'}) # can't do this with different timezone
# sort on date
#df = df.sort_values('Date')
# make Date the index of the dataframe
#df.index = df['Date']
# remove the Date column (axis=1 means we're dropping a column, not rows)
#df.drop('Date', axis=1, inplace=True)
df2.head()
print(df2.info())

ValueError: Tz-aware datetime.datetime cannot be converted to datetime64 unless utc=True

In [ ]:
# having a datetime index means we can easily select rows for a given year etc
df['2016-09']

## Getting the index of a row

- With the datetime as an index it is no longer a column in the data frame
- Available as `df.index` rather than `df['Date']`

In [ ]:
df.index[0]

## Working with rows

- Many operations can be done on a `DataFrame` as a whole
- More efficient to use these operations than iterating over rows
- But sometimes that's what you need to do
- Use the `df.iterrows()` method to iterate over rows
- Each iteration yeilds the index and the row itself

In [17]:
# make a smaller dataframe, just the first 10 rows
small = df.iloc[:10]
# this is useful if you want to print out a particular column only
for index, row in small.iterrows():
    print(index, row['Amount'])

43 97.98
32 99.04
13 99.27
28 96.53
86 107.23
70 99.06
57 100.44
65 90.59
81 103.11
45 102.78